*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Play', sans-serif;
}

.header-logo{
	width: 100px;
	height: 100px;
	
}

.banner{
	width: 700px;
}

.avatar{
	width: 300px;
}

.bg-purple{
	background-color:#8c43ff;
	width: 100%;
}

.text-purple{
	color:#8c43ff;
}

.half-purple{
	background-image: url(../images/half-purple.png);
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.border-round{
	border-radius: 3%;
}

.middle{
	border-left: 1px solid #aa75fd;
	border-right: 1px solid #aa75fd;
}

.border{
	border: 1px solid #aa75fd;
}

.button-purple{
	border: 2px solid #8c43ff;
}
/*end of gallery.html*/

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  
 }

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
	
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  
  
 }